<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccessToXMLManager.Properties.Settings.ATCM_AllConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ATCM-All.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>